h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    background-color: blue;
    margin: 0 auto 0;
} 

td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
}

.visualizer {
    background-color: white;
    border: none;
}

table.visualizer tr td{
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color:white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}

.hide {
    display: none;
}






